gensim==4.1.2
pandas==1.4.4
numpy==1.23.5
regex==2022.7.9
streamlit==1.24.1
sentence-splitter==1.4
langdetect==1.0.9
random2==1.0.1
spacy==3.1.2
en-core-web-sm@https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0.tar.gz
pyinflect==0.5.1
typer==0.3.2
click==7.1.2
